<div class="container">
    <div class="row">
        <div class="col-lg-4" style="border: 1px solid #000">
            <h1>Word detail</h1>
        </div>
        <div class="col-lg-8">
            <h2 style="color: red
            ">{{word.word}}</h2>
        </div>

        <button>Thêm vào danh sách từ vựng</button>
    </div>
</div>