@import 'variables.scss';

#suggestion-list {
  list-style: none;
  padding: 0;
  margin: 5px 0 0;
}

#suggestion-list li {
  cursor: pointer;
  padding: 5px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}
