<div class="mb-4">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            {{#if _user.id}}
            <a class="navbar-brand" href="/home">Navbar</a>
            {{else}}
            <a class="navbar-brand" href="/">Navbar</a>
            {{/if}}

            </button>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {{{renderHeader _user}}}
                </ul>

            </div>
        </div>

        <div class="ms-auto">

            {{#if _user.id}}
            <div class="d-flex">
                <div><img
                        src="https://lh3.googleusercontent.com/a/AAcHTtelGJaL8-S_x15Kl9sKcXMT2re-P0Ni1OHWXk4K1w=s96-c?sz=150"
                        alt=""></div>

                <a href="/logout" class="d-block w-auto">Logout</a>
            </div>
            {{else}}
            <div class="d-flex">
                <a href="/sign-in" class="d-block w-auto" style="background-color: red;">Sign in</a>

                <a href="/sign-up" class="d-block w-auto">Sign up</a>
            </div>
            {{/if}}
        </div>
    </nav>
</div>