<div class="container">
  <ul>
    {{#each words}}
    <li class="row">
      <div>
        <a href="word/{{this.slug}}">{{this.word}}</a>
        <p>{{this.description}}</p>
      </div>
    </li>
    {{/each}}
  </ul>
</div>