<div class="px-5 py-5">
    <h1>USER WORDS</h1>

    <ul>
        {{#each words}}
        <li>
            <h3>{{this.word}}</h3>
            <p>{{this.description}}</p>
        </li>
        {{/each}}
    </ul>
</div>